header{
    
    padding:1em;
    font-family:sans-serif;
    text-shadow: 2px 2px 4px rgba(31, 7, 244, 0.944);
    text-align: center;
    color:rgb(3, 2, 4);
    display: grid;
   
   
} 



